<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

  <targets>
    <!-- File target for all logs -->
    <target xsi:type="File" name="logfile"
            fileName="${specialfolder:folder=ApplicationData}/AeroDebrief/DevTools/logs/devtools-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=toString}"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7" />

    <!-- Console target -->
    <target xsi:type="Console" name="console"
            layout="${longdate}|${level:uppercase=true}|${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile,console" />
  </rules>
</nlog>
